@import "tailwindcss";

@theme {  
  /* dark mode */
  --color-primary: #C38305;
  --color-primary-hover: #AD7300;
  --color-primary-dark: #131313;
  --color-secondary-dark: #2C2C2C;
  --color-primary-border: #525252;
  --color-primary-text: #FFFFFF;
  --color-secondary-text: #B9B9B9;

   /* Scrollbar colors */
   --scrollbar-thumb: #F2B437;


   --color-overlay-dark: rgba(0, 0, 0, 0.7);
   --color-overlay-gradient: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
 
}

/* title */
.title-big {
  @apply text-4xl font-[600] mb-2 text-white;
}
.title-large {
  @apply text-2xl font-[500] mb-2 text-white;
}
.title-medium {
  @apply text-2xl font-[400] mb-2 text-white;
}
.title-small {
  @apply text-lg font-[400] mb-2 text-white;
}

/* text */
.text-big {
  @apply text-xl font-[300] mb-2;
}
.text-large {
  @apply text-lg font-[300] mb-2;
}
.text-medium {
  @apply text-base font-[300] mb-2;
}
.text-small {
  @apply text-sm font-[300] mb-2;
}


/* lable */
.lable-sm {
  @apply text-sm font-[500];
}

.input-sm {
  @apply w-full py-3 px-6 text-sm text-primary-text border border-primary-border rounded-full placeholder-secondary-text focus:outline-none focus:ring-2 focus:ring-primary;
}

/* Custom transitions for carousel */
.carousel-transition {
  transition: opacity 300ms ease;
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #F2B437;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #C39539;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c3840550 transparent;
}


/* Custom styles for movie cards */
.movie-card {
  transition: transform 0.3s ease;
  position: relative;
}

.movie-card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.movie-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.movie-card:hover::after {
  opacity: 1;
}

/* Animations for the featured movie */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}